body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #169BD4;
    
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 4vh;
}

.logo .subtitle {
    margin-top: -5px;
    color: #F8F6EB;
    font-family: urbanist;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.links-header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav-bar {
    position: relative;
    padding-right: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.nav-bar a {
    font-family: urbanist;
    font-size: 48px;
    text-decoration: none;
    color: #F8F6EB;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: flex;
}

input#burger {
    display: none;
}

.burger span {
    margin-top: 15px;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #F8F6EB;
    border-radius: 9px;
    opacity: 1;
    transition: .25s ease-in-out;
    z-index: 10;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

input#burger:checked ~ label.burger span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
    background-color: #169BD4;
}

input#burger:checked ~ label.burger span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
    background-color: #169BD4;
}

input#burger:checked ~ label.burger span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
    background-color: #169BD4;
}

input#burger:checked ~ span {
    background-color: #169BD4;
}

input#burger:checked ~ .offscreenmenu {
    transform: translateX(0);
}

input#burger:checked ~ label.burger {
    position: fixed;
    top: 35px;
    right: 4vw;
    z-index: 1001;
}

.offscreenmenu {
    background-color: #F8F6EB;
    box-shadow: #191413 15px 0px 5px 12px;
    height: 100vh;
    width: 30vw;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: transform .3s ease;
    transform: translateX(100%);
    z-index: 1000;
}

.offscreenmenu ul {
    width: 20vw;
    margin-bottom: 85vh;
    margin-right: 10rem;
}

.offscreenmenu li {
    display: flex;
    list-style: none;
    margin-top: 3vh;
}

.offscreenmenu li a {
    color: #169BD4;
    font-family: urbanist;
    font-size: 45px;
    font-weight: 400;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
    height: 80vh;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 30px;
    background-color: #F8F6EB;
}

.dashboard {
    height: 55vh;
    width: 58vw;
    border-radius: 30px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.chart-box  {
    width: 38vw;
    height: 58vh;
    border-radius: 30px;
    background-color: #169BD4;
    display: flex;
    flex-direction: row;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38vw;
    height: 55vh;
    /* margin-left: 2vw; */
}

.chart canvas {
    height: 25vh;
}

.simple-kpis {
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    height: 18vh;
    width: 58vw;
}

.your-style {
    width: 18vw;
    height: 14vh;
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    justify-content: center;
    border-radius: 35px;
    font-family: urbanist;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    background-color: #169BD4;
}

.your-style span {
    color: #F8F6EB;
    text-align: center;
}

.yourStyleKPI {
    font-size: 34px;
}

.kpi2 {
    width: 18vw;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    font-family: urbanist;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    background-color: #169BD4;
}

.kpi2 span {
    color: #F8F6EB;
    text-align: center;
}

.mostCommonStyleKPI {
    font-size: 28px;
}

.bigger-kpi {
    display: flex;
}

.kpi3 {
    width: 18vw;
    height: 73vh;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    font-family: urbanist;
    font-weight: 800;
    font-style: italic;
    font-size: 24px;
    background-color: #169BD4;
    margin-left: 2vw;
}

.kpi3 span {
    margin-top: 2vh;
    color: #F8F6EB;
}
