body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #F8F6EB;
    
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 2vh;
}

.logo p {
    margin-top: -5px;
    color: #31802B;
    font-family: urbanist;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.links-header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav-bar {
    width: 35vw;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.nav-bar a {
    font-family: urbanist;
    font-size: 48px;
    text-decoration: none;
    color: #31802B;
}

.homepage .background {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage .background img {
    height: 80vh;
    
}